<% include ../partials/header %>
<body class="deck-new">
<% include ../partials/nav %>
<div class="container-fluid">
<div class="row">
  <div class="col-12 text-center m-auto">
    <form action="/deck" method="POST">
      <button class="tc-btn" name="DeckSpecs" value="RWS">Rider-Waite-Smith</button>
    </form>
  </div>
</div>
</div>
<% include ../partials/footer %>