/* 
#ffee58, #ffb452, #ff7c70, #f05695, #a74faf
#ffee58, #ffd654, #ffbf56, #ffa95c, #ff9563, #ff856a, #fc7674, #f6687f, #ea5c8c, #d95398, #c34fa4, #a74faf
ffee58-ff7c70-a74faf-292f36-4ecdc4
										
ffee58	e6d64f	ccbe46	b3a73e	998f35	80772c	665f23	4c471a	333012	191809	000000
ffee58	fff069	fff179	fff38a	fff59b	fff7ac	fff8bc	fffacd	fffcde	fffdee	ffffff
ffb452	e6a24a	cc9042	b37e39	996c31	805a29	664821	4c3619	332410	191208	000000
ffb452	ffbc63	ffc375	ffcb86	ffd297	ffdaa9	ffe1ba	ffe9cb	fff0dc	fff8ee	ffffff
ff7c70	e67065	cc635a	b3574e	994a43	803e38	66322d	4c2522	331916	190c0b	000000
ff7c70	ff897e	ff968d	ffa39b	ffb0a9	ffbeb8	ffcbc6	ffd8d4	ffe5e2	fff2f1	ffffff
f05695	d84d86	c04577	a83c68	903459	782b4b	60223c	481a2d	30111e	18090f	000000
f05695	f267a0	f378aa	f589b5	f69abf	f8abca	f9bbd5	fbccdf	fcddea	feeef4	ffffff
a74faf	96479e	863f8c	75377a	642f69	542858	432046	321834	211023	110811	000000
a74faf	b061b7	b972bf	c184c7	ca95cf	d3a7d7	dcb9df	e5cae7	eddcef	f6edf7	ffffff
292f36	252a31	21262b	1d2126	191c20	15181b	101316	0c0e10	08090b	040505	000000
292f36	3e444a	54595e	696d72	7f8286	94979b	a9acaf	bfc1c3	d4d5d7	eaeaeb	ffffff
4ecdc4	46b9b0	3ea49d	379089	2f7b76	276762	1f524e	173d3b	102927	081414	000000
4ecdc4	60d2ca	71d7d0	83dcd6	95e1dc	a7e6e2	b8ebe7	caf0ed	dcf5f3	edfaf9	ffffff


pinks: #ffc0cb, #fda9b9, #fa91a7, #f57996, #f05e85 
*/

/* all pages */
body {
  font-family: 'Bree Serif', serif;
  color: #696d72;
  fill: #54595e;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
a, a:hover {
  color: inherit;
  text-decoration: none;
  fill: inherit;
}
ul {
  padding-left: 0px!important;
}
form {
  margin-block-end: 0px!important;
}
button {
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0px;
  outline: none;
}
button:focus {
  outline:0;
}
.row {
  min-height: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.tc-btn {
  padding: 0.5em;
  margin: 1em;
  background-color: rgb(255,255,255,0.35);
  border: rgb(255,255,255,0.5) 0.25em solid;
  color: inherit;
  text-transform: uppercase;
}
header {
  position: fixed;
  width: 100vw;
  z-index: 300;
}
.navbar {
  max-width: 960px;
  margin: 0 auto;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#696d72' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav-item {
  margin-left: auto;
  margin-right: auto;
}
.up-btn {
  z-index: 3;
  display: none;
  position: fixed;
  bottom: 1em;
  right: 1em;
}
.up-btn:hover {
  background-color: white;
}

/* landing page */
.index {
  background-image: linear-gradient(to right bottom, #fff38a, #ffe187, #ffd088, #ffc18c, #ffb391, #ffa996, #fe9f9c, #f997a5, #f090ad, #e48ab6, #d586bf, #c184c7);
}

/* cards index page - all cards */
.cards-index {
  background-image: linear-gradient(to right top, #f589b5, #cda3eb, #90beff, #6ad1f4, #83dcd6); 
}
.cards-index header {
  background-image: linear-gradient(to right, #90beff, #6ad1f4, #83dcd6);
}
.cards-index .row, .deck-box {
  padding-top: 4em;
}
.deck-nav {
  margin: 2em auto 0 auto;
}
.tarot-card {
  width: 23%;
  margin: 1%;
}
#card rect {
  fill: white;
  opacity: 0.35;
}

/* cards show page - single card details */
.cards-show {
  background-image: linear-gradient(to right top, #6fbaf2, #63c4ef, #64cee8, #70d5df, #83dcd6);
}
.cards-show header {
  background-image: linear-gradient(to right, #64cee8, #70d5df, #83dcd6);
}
.single-card-side {
  z-index: 3;
  padding-top: 3.5em;
}
.single-card {
}
.card-key, .card-details {
  font-size: 1.5em;
  padding: 0.5em;
}
.content-side {
  height: 150vh;
}
.content-title {
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 0.5em;
}
.content-box {
  margin: 2em auto;
  background-color: rgb(255,255,255,0.35);
  padding: 1em;
}
.content-box li, .add-input, .add-btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em;
  margin: 0.5em;
  background-color: rgb(255,255,255,0.5);
}

.remove-item {
  display: inline-block;
  width: 0;
  opacity: 0;
  transition: 0.1s linear;
  text-align: center;
}
.content-box li:hover .remove-item {
  padding-left: 0.5em;
  width: 1.5em;
  opacity: 1;
}
.add-btn {
  border-radius: 1em;
}
.add-input {
  padding: 0px!important;
}
input {
  box-sizing: border-box;
  width: 100px;
  padding: 0.5em;
  border: none;
  outline: none;
  display: none;
  color: inherit;
  background-color: transparent;
}
input, 
input::placeholder {
  font-family: 'Bree Serif', serif;
}
input::placeholder {
  color: #d4d5d7;
}
.show {
  display: inline-block;
}
.submit-btn {
  display: none;
}

/* new deck initiation page */
.cards-new {
  background-image: linear-gradient(to right top, #fff38a, #ffdc85, #ffc689, #ffb391, #ffa39b);
}