  </main>
  <footer></footer>
</body>

<svg x="0px" y="0px" viewBox="0 0 400 600" enable-background="new 0 0 400 600" xml:space="preserve" style="display:none;">
  <symbol id="card-template">
    <g id="card" opacity="0.75">
    	<rect fill="#FFFFFF" width="400" height="600"/>
    </g>
    <g id="card-text">
    	<text  x="50%" y="50%"  dominant-baseline="middle" text-anchor="middle" font-size="36px">THE MAGICIAN</text>
    </g>
  </symbol>
</svg>

</html>