<% include ./partials/header %>
<div class="container-fluid index">
<div class="row">
  <div class="col-12 text-center m-auto">
    <h1 class="my-3">Welcome to the Tarot Cabin</h1>
    <h5 class="my-1">cozy space for spiritual healing and learning</h5>
    <button class="tc-btn">
      <a href="/cards/new">
        <span>Choose Deck</span>
      </a>
    </button>
    <button class="tc-btn">
      <a href="/cards/">
        <span>Cards</span>
      </a>
    </button>
  </div>
</div>
</div>
<% include ./partials/footer %>