<% include ./partials/header %>
<body class="index">
<% include ./partials/nav %>
<div class="container-fluid">
<div class="row">
  <div class="col-12 text-center m-auto">
    <h1 class="my-3">Welcome to the Tarot Cabin</h1>
    <h5 class="my-1">cozy space for spiritual healing and learning</h5>
    <button class="tc-btn">
      <a href="/deck/new">
        <span>Initiate Deck</span>
      </a>
    </button>
  </div>
</div>
</div>
<% include ./partials/footer %>