<% include ../partials/header %>
<div class="container-fluid cards-index">
<div class="row">
  <div class="major-arcana-box col-12 d-flex flex-row flex-wrap justify-content-center">
    <% tarotDeck.forEach(function(tarotCard){ %>
    <div class="tarot-card">
      <svg viewBox="0,0 400,600">
        <use xlink:href="#card" href="#card"></use>
        <text class="text-uppercase" x="50%" y="50%"  dominant-baseline="middle" text-anchor="middle" font-size="36px"><%= tarotCard.title %></text>
      </svg>
      <a href="/cards/<%= tarotCard._id %>"><span></span></a>
    </div>
    <% }); %>
  </div>
</div>
</div>
<% include ../partials/footer %>
