<% include ../partials/header %>
<div class="container-fluid cards-new">
<div class="row">
  <div class="col-12 text-center m-auto">
    <form action="/cards" method="POST">
      <button class="tc-btn" name="DeckSpecs" value="RWS">Rider-Waite-Smith</button>
    </form>
  </div>
</div>
</div>
<% include ../partials/footer %>