<% include ../partials/header %>
<div class="container-fluid cards-show">
<div class="row text-center">
  <div class="col-12 col-md-4">
    <div class="single-card">
      <svg viewBox="0,0 400,600">
        <use xlink:href="#card" href="#card"></use>
        <text class="text-uppercase" x="50%" y="50%"  dominant-baseline="middle" text-anchor="middle" font-size="36px"><%= tarotCard.title %></text>
      </svg>
    </div>
  </div>
  <div class="col-12 col-md-8">
    <div class="tarot-content">
      <div class="keywords-box">
        <div>
          <h3>Keywords</h3>
        </div>
        <div class="keywords">
          <ul>
            <% for(var i=0; i<tarotCard.keywords.length; i++){ %>
              <li><%= tarotCard.keywords[i] %><span class="delete"><i class="fas fa-trash"></i></span></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% include ../partials/footer %>