<% include ./partials/header %>
<div class="container-fluid index">
<div class="row">
  <div class="col-12 text-center col-12 text-center d-flex flex-column justify-content-center align-content-center">
    <h1 class="title my-3">Welcome to the Tarot Cabin</h1>
    <h5 class="liner">cozy space for spiritual healing and learning</h5>
    <a class="tc-btn" href="/cards/index">Cards</a>
  </div>
</div>
</div>
<% include ./partials/footer %>