body {
  background-color: lavender;
  color: #737497;
}

.search-btn {
  border: none;
  background-color: inherit;
  color: inherit;
}

header {
  margin-bottom: 2em;
}
/* #A7A8CD */
.row {
  margin-bottom: 1em;
}
.new-spread-btn {
  float: right;
  background: inherit;
  color: inherit;
  border: white solid 3px;
  padding: 0.5em;
}
.new-spread-btn:hover {
  text-decoration: none;
  color: inherit;
}