<% include ../partials/header %>
<div class="container-fluid cards-index d-flex justify-content-center">
<div class="row d-flex">
  <div class="cards-index-box col-12 d-flex justify-content-around m-3">
    <div class="major-arcana card-div">
      <h5>major<br/>arcana</h5>
    </div>
    <div class="cups-suit card-div">
      <h5>suit of<br/>cups</h5>
    </div>
    <div class="pentacles-suit card-div">
      <h5>suit of<br/>pentacles</h5>
    </div>
    <div class="swords-suit card-div">
      <h5>suit of<br/>swords</h5>
    </div>
    <div class="wands-suit card-div">
      <h5>suit of<br/>wands</h5>
    </div>
  </div>
  <div class="major-arcana-box col-12 d-flex flex-wrap justify-content-around m-3">
    <div class="card-box">
      <span>The Fool</span>
    </div>
    <div class="card-box">
      <span>The Magician</span>
    </div>
    <div class="card-box">
      <span>The Empress</span>
    </div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
    <div class="card-box"></div>
  </div>
</div>
</div>
<% include ../partials/footer %>