<% include ../partials/header %>
<body class="explore-index">
<% include ../partials/nav %>
<div class="container-fluid">
<div class="row">
  <div class="col-12">
    <span>card exercises and journal entries here</span>
  </div>
  <button class="up-btn tc-btn" id="upBtn" onclick="goUp()">Up</button>
</div>
</div>
<% include ../partials/footer %>
