<% include ../partials/header %>
<div class="container-fluid cards-new">
<div class="row">
  <div class="col-12 text-center">
    <h3>Pick a Deck</h3>
    <div class="deck-type">
      <h5>Rider-Waite-Smith</h5>
    </div>
    <div class="deck-type">
      <h5>Marseille</h5>
    </div>
    <div class="deck-type">
      <h5>Thoth</h5>
    </div>
    <div class="deck-type">
      <h5>Oracle</h5>
    </div>
    <div class="deck-type">
      <h5>Custom</h5>
    </div>
  </div>
</div>
</div>
<% include ../partials/footer %>