<% include ../partials/header %>
<body class="reading-index">
<% include ../partials/nav %>
<div class="container-fluid">
<div class="row">
  <div class="col-12">
    <span>daily draw here</span>
    <span>a few past readings here and link to all past readings</span>
  </div>
  <button class="up-btn tc-btn" id="upBtn" onclick="goUp()">Up</button>
</div>
</div>
<% include ../partials/footer %>
