<% include ../partials/header %>
<body class="reading-index">
<% include ../partials/nav %>
<div class="container-fluid">
<div class="row">
  <div class="col-12">
    <button class="tc-btn">
      <a href="/reading/new">Daily Draw</a>
    </button>
    <form action="/reading" method="POST">
      <button class="tc-btn" name="dailyDraw" value="newDraw">Daily Draw</button>
    </form>
  </div>
  <button class="up-btn tc-btn" id="upBtn" onclick="goUp()">Up</button>
</div>
</div>
<% include ../partials/footer %>
